<card [title]="'Project'">
  <div class="row">
    <div *ngIf="project" class="col-md-12">
      <p><strong>Name: </strong>{{project.Name}}</p>
      <p><strong>FranchiseId: </strong>{{project.FranchiseId}}</p>
      <p><strong>Status: </strong>{{project.Status}}</p>
      <p><strong>Type: </strong>{{project.Type}}</p>
      <p><strong>Company: </strong>{{project.Company}}</p>
      <p><strong>Contact: </strong>{{project.Contact}}</p>
      <p><strong>Location: </strong>{{project.Location}}</p>
      <p><strong>BuildingType: </strong>{{project.BuildingType}}</p>
      <p><strong>Description: </strong>{{project.Description}}</p>
      <p><strong>SizeInM2: </strong>{{project.SizeInM2}}</p>
      <p><strong>Tags: </strong>{{project.Tags}}</p>
      <p><strong>Created: </strong> {{project.Created}}</p>
    </div>
  </div>
</card>